**/My*.java
**/target/
.factorypath

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
**/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/*.class

# Package Files #
**/src/main/webapp/**/*.jar
**/*.war

# gwt caches and compiled units #
src/main/webapp/gwt_bree/
**/gwt-unitCache/

# boilerplate generated classes #
**/.apt_generated/


# more caches and things from deploy #
**/src/main/webapp/WEB-INF/deploy/
**/src/main/webapp/WEB-INF/classes/

#compilation logs
**/.gwt/

#gwt junit compilation files
**/www-test/

#old GWT (1.5) created this dir

**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties

# Eclipse
**/.classpath
**/.project
**/.settings/

# Intellij
**/.idea/
**/*.iml
**/*.iws

.idea/**/*.*
**/*.iml
**/*.iws
**/*.log
**/JFWLogs/

**/bin/

**/**/war/

**/core-server/overlays/

##PS-CICD
artifacts
.tomcat
.jetty
